/* This file will hold the main styles for your website. */

/*------------------------TYPOGRAPHY--------------------------*/

p, div {
    font-family: 'PTSansRegular';
}

/*--------------------------HEADER----------------------------*/
/*-------------------------BRANDING---------------------------*/

#section-header {
    background: url("/sites/all/themes/files/header.png") no-repeat scroll center top transparent;
}

h1.site-name, h2.site-name {
    font-size: 4.7em;
    font-weight: normal;
    letter-spacing: 1.29px;
}

.site-name a,
.site-name a:active,
.site-name a:link,
.site-name a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.site-slogan,
.block-menu {
    color: #FECD48;
    font-size: 1.55em;
    font-weight: normal;
    letter-spacing: 1px;
}

/*--------------------------Menu---------------------------------*/

#block-system-main-menu li.leaf {
    list-style-image: url("/sites/all/themes/files/active-menu-icon.png");
    list-style-type: square;
}

#block-system-main-menu ul.menu {
    border: medium none;
    list-style: none outside none;
    padding: 50px 0 0 50px;
    text-align: left;
}

#block-system-main-menu li a.active {
    color: #FECD48;
    font-weight: normal;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
}

.block-2 {
    font-size: 1.17em;
    width: 100%;
    margin-top: 15px;
}

/*-----------------------Slideshow-----------------------------*/

.quicktabs-loaded {
	    background: url("/sites/all/themes/files/featured.png") no-repeat scroll center bottom transparent;
}